<% include partials/header %>

    <img src="bg.jpg" alt="" class="col-12 position-fixed image1 p-0 h-100 contain">

<div class="header pt-4">
  <h1>Welcome to (Your Business)</h1>
</div>

<div class="height0"></div>

<div class="container-fluid row m-0">
  
	<a href="./employeeInsert" class="link col-4">
    <div class=" p-0">
      <h2 class="link2page">Employee Insert</h2>
    </div>
  </a>
 

	<div class="col-4"></div>
	
    <a href="./employeeRoster" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Employee Roster</h2>
      </div>
    </a>
  

</div>

<div class="height"></div>


<div class="container-fluid row m-0">
  
	<a href="./customerInsert" class="link col-4">
    <div class=" p-0">
      <h2 class="link2page">Customer Insert</h2>
    </div>
  </a>
 

	<div class="col-4"></div>
	
    <a href="./customerList" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Customer List</h2>
      </div>
    </a>
  

</div>

<div class="height"></div>

<div class="container-fluid row m-0">
	
   <a href="./inventoryInsert" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Inventory Insert</h2>
      </div>
    </a>
  

	<div class="col-4"></div>
	
	 <a href="./inventoryStock" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Inventory Stock</h2>
        </div>
    </a>
  
</div>


<div class="height"></div>

<div class="container-fluid row m-0">
	
  <a href="./salesInsert" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Sales Insert</h2>
      </div>
    </a>
  

	<div class="col-4"></div>
	
	<a href="./salesRecords" class="link col-4">
      <div class="p-0">
        <h2 class="link2page">Sales Records</h2>
        </div>
    </a>
 
</div>





  <div class="footer">

  </div>
  <% include partials/footer %>