<% include partials/header %>

<div class="header pl-5 pt-2">
  <h1>Welcome to (Your Business)</h1>
</div>

<div class="pt-5"></div>

<div class="container-fluid row m-0">
  <div class="card link col-4">
    <a href="./employeeInsert" class="link">
      <img src="hire.jpg" alt="For Hire Sign, Photo by Clem Onojeghuo on Unsplash" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Employee Insert</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>

	<div class="col-4"></div>
	
  <div class="card link col-4">
    <a href="./employeeRoster" class="link">
      <img src="team.jpg" alt="Employees in open office, Photo by Shridhar Gupta on Unsplash" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Employee Roster</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>

</div>

<div class="pt-5"></div>

<div class="container-fluid row m-0">
	
   <div class="card link col-4">
    <a href="./inventoryInsert" class="link">
      <img src="truck.jpg" alt="Semi truck, Photo by Steve Doig on Unsplash" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Inventory Insert</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>

	<div class="col-4"></div>
	
	<div class="card link col-4">
    <a href="./inventoryStock" class="link">
      <img src="stock.jpg" alt="Product Storage, Photo by Samuel Zeller on Unsplash" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Inventory Stock</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>
</div>


<div class="pt-5"></div>

<div class="container-fluid row m-0">
	
  <div class="card link col-4">
    <a href="./salesInsert" class="link">
      <img src="sale.jpg" alt="Two suited men shaking hands, Photo by Sebastian Herrmann on Unsplash" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Sales Insert</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>

	<div class="col-4"></div>
	
	<div class="card link col-4">
    <a href="./salesRecords" class="link">
      <img src="files.jpg" alt="paper filing system, Photo by Ekrulila from Pexels" class="card-img-top contain" height="200px" width="300">
      <div class="card-body p-0 home-button">
        <h2 class="card-title">Sales Records</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure
          voluptatem minima voluptates fugiat.</p>
      </div>
    </a>
  </div>
</div>





  <div class="footer">

  </div>
  <% include partials/footer %>