<% include partials/header %>

<div class="pt-2 col-12" style="background-color:green;color:white;">
  <h1 class="text-center">Inventory Stock Page</h1>
</div>

<div class="col-12 inline p-0">

  <% query %>
  <% if(query) { %>

  <table class="table table-hover table-dark offset-1 col-10">

    <!--Categories-->

    <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">In Production?</th>
      </tr>
    </thead>

    <% for(const i in query[0]) { %>

    <!--Rows-->

    <tr>
      <th scope="row"><%= query[0][i].itemID %></th>
      <td><%= query[0][i].name %></td>
      <td><%= query[0][i].quantity %></td>
      <td><%= query[0][i].in_production %></td>
    </tr>

    <% }} %>

  </table>

</div>

<form class="form-inline" method="POST" action="/api/inventoryStock">

  <!--Submit Button-->

  <button type="submit" class="btn col-4 offset-4" method="POST" action="/api/inventoryStock" name="getInventoryRoster"
    style="background-color:green;color:white;">Check database</button>

</form>

<div class="offset-1 col-10 p-0">

  <div class="spacer"></div>
	
  <br>
	
  <a href="/inventoryInsert">Return to Insert</a>
  <br>
  <a href="/">Home</a>

</div>

  <% include partials/footer %>